html {
  font-size: 62.5%;
}

body {
  background-image: radial-gradient(circle at bottom, $bodyBackground 0%, $black 60%);

  min-height: 100vh;

  font-size: 16px;

  overflow: hidden;
}