@import "../../core/reset";
@import "../../core/variables";
@import "../../core/global";


.header {
  width: 100%;

  display: flex;
  justify-content: center;

  position: fixed;


  &__list {
    margin: 2rem;
  
    display: flex;  
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }


  &__link {
    color: $white;
  }
}