@import "../../core/reset";
@import "../../core/variables";
@import "../../core/global";


.cover {
  border-radius: 50%;

  width: 60rem;
  height: 60rem;

  font-size: 5rem;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;


  &__logo {
    border-radius: 50%;
    box-shadow: 0 0 1.5rem $white;

    width: 40rem;
    height: 40rem;

    position: absolute;
  }


  &__text {
    width: 100%;
    height: 100%;

    color: $white;

    position: absolute;

    animation: spin 50s linear infinite;

    .spinningLetter {
      position: absolute;
      left: 50%;
      transform-origin: 0 30rem;
    }
  }
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}