@import "../../core/reset";
@import "../../core/variables";
@import "../../core/global";


.cover {
  width: 100%;
  height: 100vw;
  max-height: 60rem;

  font-size: 4.5rem;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;


  @media all and (max-height: 600px) {
    height: 40rem;
  }


  &__logo {
    border-radius: 50%;
    box-shadow: 0 0 1.5rem $white;

    width: 65%;
    max-width: 40rem;

    position: absolute;


    @media all and (max-height: 600px) {
      height: 30rem;
      width: 30rem;
    }
  }


  &__text {
    width: 100%;
    height: 100%;

    color: $white;

    animation: spin 50s linear infinite;


    .spinningLetter {
      position: absolute;
      top: 2%;
      left: 50%;
      transform-origin: 0 calc(50vw - 0.5rem);


      @media all and (min-width: 600px) {
        top: 0;
        transform-origin: 0 30rem;
      }

      @media all and (max-height: 600px) {
        top: -5%;
        transform-origin: 0 22rem;
      }
    }
  }
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}